#scroll
{
    overflow: auto;
}

.fixed{
    position: relative;
}
body {
    font-family: 'Josefin Sans', sans-serif;
}

#DomHtml{
    text-align: center;
    
}

.brand-logo{
    position: relative;
    display: inline-block;
}

@media screen and (max-width: 1000px){
    

ul:not(.browser-default)>li {
    list-style-type: none;
}
nav ul li {
    -webkit-transition: background-color .3s;
    transition: background-color .3s;
    float: left;
    padding: 0;
}
*, *:before, *:after {
    box-sizing: unset;
}

#navStyle{
    padding-left: 0;
}
}

@media screen and (max-width: 605px) {
img{
    
    display: none;
}
#DomHtml{
    text-align: inline-block;
    
}

}