{% extends 'base.html' %} {% block content %}
<h3>Add Recipe</h3>
<div class="row">
    <form action="{{ url_for('insert_recipe') }}" method="POST"  class="col s12 col-xs-12 col-sm-12">
        <div class="row">
             <div class="row">
                <div class="input-field col s12 col-xs-12 col-sm-12">
                    <i class="material-icons prefix">poll</i>
                    <select id="category" name="category_name">
                  <option value="">Choose Category</option>
                  {% for cat in categories %}
                      <option value="{{cat.category_name}}">{{cat.category_name}}</option>
                  {% endfor %}
                </select>
                    <label>Recipe Category</label>
                </div>
            </div>
            <div class="row">
            <div class="input-field col s12 col-xs-12 col-sm-12">
                <i class="material-icons prefix">restaurant_menu</i>
                <input id="recipe_name" name="recipe_name" type="text">
                <label for="icon_prefix">Recipe Name</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 col-xs-12 col-sm-12">
                <i class="material-icons prefix">restaurant_menu</i>
                <textarea name="recipe_ingredients" id="recipe_ingredients" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Recipe Ingredients</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 col-xs-12 col-sm-12">
                <i class="material-icons prefix">restaurant_menu</i>
                <textarea name="recipe_method" id="recipe_method" class="materialize-textarea"></textarea>
                <label for="restaurant_menu">Recipe Method</label>
            </div>
        </div>
        <div class="row">
            <div class="input-field col s12 col-xs-12 col-sm-12">
                <i class="material-icons prefix">grade</i>
                <textarea name="country_origin" id="country_origin" class="materialize-textarea"></textarea>
                <label for="icon_telephone">Country of Origin</label>
            </div>
        </div>
        </div>
        <div class="row">
            <div class="switch col-xs-12 col-sm-12">
                <label>
                  <input id="contains_meat" name="contains_meat" type="checkbox">
                  <span class="lever"></span>
                  Contains Meat
                </label>
            </div>
        </div>
          <div class="row">
            <button class="btn waves-effect waves-light" type="submit" name="action">Add Recipe
                <i class="material-icons right">recipe_add</i>
             </button>
        </div>
    </form>
</div>

{% endblock %}