{% extends 'base.html'%} {% block content %}

<div class="row">

    <h3>Categories</h3>
    <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
         <li>
            <div class="collapsible-header">

                <div class="recipe_header col s9">
                    <i class="material-icons">expand_more</i> {{get_categories.recipe_name}} - {{food_type.category_name}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{get_categories.recipe_ingredients}} - {{get_categories.recipe_method}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}