{% extends 'base.html' %} 
{% block content %}
<div class="container col s12 col-xs-12 col-sm-12">
    <h2>All Recipes</h2>
<div>
       <ul class="collapsible scroll col s12 col-xs-12 col-sm-12 scroll" data-collapsible="accordion" id="background">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">
                     <div class="col s3">
                    <i class="material-icons">expand_more</i>
                    <a href="{{url_for('delete_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn btn_small">Delete</a>
                    <a href="{{url_for('edit_recipe', recipe_id = recipe._id)}}" class="waves-effect waves-light btn btn_small blue">Edit</a>
                </div>

                <div class=" recipe_header col s9">
                   {{recipe.recipe_name}} - {{recipe.category_name}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                  <h3>Ingredients</h3>   {{recipe.recipe_ingredients}}
                </span>
                <span>
                  <h3>Method</h3>    {{recipe.recipe_method}}
                </span>
                 <span>
                  <h5>Country Of Origin</h5>   {{recipe.country_origin}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
    </div>

    <div class="row">
    <div id="vegetarian-selector" class="btn btn-primary"></div>
    </div>
    
{% endblock %}