{% extends 'base.html' %} 
{% block content %}
       <ul class="collapsible" data-collapsible="accordion">
        {% for recipe in recipes %}
        <li>
            <div class="collapsible-header">

                <div class=" recipe_header col s9">
                    <i class="material-icons">expand_more</i> {{recipe.recipe_name}} - {{recipe.category_name}}
                </div>
            </div>
            <div class="collapsible-body">
                <span>
                    {{recipe.recipe_ingredients}} - {{recipe.recipe_method}}
                </span>
            </div>
        </li>
        {% endfor %}
    </ul>
{% endblock %}